@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&display=swap');
.window{
    width: 240px;
    height:auto ;
    border-radius: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
    position:fixed !important;
    right:30px !important;
    top:30px !important;
    z-index: 2147483647 !important;
    
}
.scWindow{

    height:auto !important;
    z-index: 2147483647 !important;
    width: 240px !important;
    top: 15px !important;
    right: 15px !important;
    border-radius: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
    position:fixed !important;
    display: block !important;
    font-family: 'Roboto', sans-serif;
}


.textScore{
    font-size: 18px !important;
    text-align: justify;
    line-height: 18px;
    padding: 25px;
    width: 235px;
    
}
.x{
    font-weight: bold !important;
    font-size: 20px !important;
    color:grey !important;
    cursor:pointer !important;
}
.x:hover{
    color:#000 !important;
}
.textSc{
    font-size: 18px !important;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    margin-top: -8px;
}
.monitorSc{
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color:#1b6ca8;
}
.line{
    height:1px !important;
    width:auto !important;
    background:grey !important;
    margin:auto !important;
}
.flexSc{
    display:flex !important;
    justify-content: space-between !important;
    padding:10px 10px !important;
    font-weight: bold;
    font-size: 15px;
    flex-direction: row;
    align-items: center;

}
.privacy-dydydhjkjgk{
    display: flex !important;
    justify-content: space-around !important;
    font-family: 'Bitter', serif;
}

.sc{
    display: flex !important;
    font-size: 16px;
    font-weight: bold;
}
.scoresContainer{
    display: grid !important;
    padding:30px 0 !important;
    width: 200px;
}
.flexFor{
    display: flex !important;
    height: 110px;
    flex-direction: row;
}
.trendFlex{
    display: flex !important;
}
.winX{
    font-weight: bold !important;
    font-size: 20px !important;
    color:grey !important;
    cursor:pointer !important;
}
.winX:hover{
    color:#000 !important;
}
.buttonSc{
    display: flex;
    padding: 6px 30px;
    background:#005082 !important;
    border:none !important;
    border-radius: 1px !important;
    color:#fff !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
    margin: -12px 65px !important;

}
.privacyErr{
    font-size: 18px !important;
    font-weight: bold !important;
}
.monitorErr{
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color:#1b6ca8;
}
.flexErr{
    display: flex !important;
    justify-content: space-around !important;
    
}
.mainFlexErr{
   
    display: flex !important;
    justify-content: space-between;
    margin:5px 15px;
    
}

.gridContainer{
    display: grid !important;
}
.buttonContainer{
    height: 40px !important;
}

.scWindow div{

flex-direction: row;
}